/*

   RESET

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*

   GENERAL

*/
.containerhead{
    width: 1200px;
    margin: 0 auto;
}

.hearts{
    position: absolute;
    background-color: white;
    padding: 15px;
    top: 30px;
    right: 12px;
    font-size: 25px;
}




.containercard1{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 50px;
}

.cardabs{
    position: relative;
}


/*

   HEADER

*/

header section{
    background-color: #FF6900;;
}

.flexhead{
    display: flex;
    flex-wrap: nowrap;
}

.flexicon{
    display: flex;
    justify-content: flex-end;
    padding: 15px;

}

.genere p{
    padding-top: 10px;
    color: white;
}

.genere{
    width: 25%;
    padding: 15px;
}

.logo{
    width: 50%;
}

.icon{
    width: 25%;
}

.logo img{
    width: 30%;
    display: block;
    margin: 0 auto;
    padding: 15px;
}

.icon i{
    color: white;
    padding: 10px;
}

.carddesc{
    padding-left: 11px;
    margin-top: -17px;
}

.carddesc p:first-child {
    color: red;
}


/*

   MAIN

*/

.card1{
    width: calc(100% / 3);
}

.card2{
    width: calc(100% / 3);
}

.card3{
    width: calc(100% / 3);
}


.card1 img{
    max-width: 100%;
    padding: 12px;
}

.card2 img{
    max-width: 100%;
    padding: 12px;
}

.card3 img{
    max-width: 100%;
    padding: 12px;
}


.sconto{
    background-color: red;
    color: white;
    text-align: center;
    padding: 3px;
}

.greenspan{
    background-color: green;
    color: white;
    text-align: center;
    padding: 3px;
}

.cardabs .sconto{
    position: absolute;
    left: 12px;
    bottom: 60px;
}

.cardabs .greenspan{
    position: absolute;
    left: 58px;
    bottom: 60px;
}


.cardabs .greenspan6{
    position: absolute;
    left: 12px;
    bottom: 60px;
    background-color: green;
    color: white;
    text-align: center;
    padding: 3px;
}







/*

   DEBUG

*/


/* .debug main section .containercard1{
    background-color: aqua;
    min-height: 600px;
} */


/* .debug main section .containercard1 > *{
    border: 1px dashed black;
} */